@import "../../node_modules/bootstrap/scss/functions";

$primary: #25adda;
$secondary: #7a7a7a;

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
// @import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
// @import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/placeholders";

@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

@include media-breakpoint-up(lg) {
  .bg-lg-none {
    background-color: transparent !important;
  }
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

@each $name, $color in $theme-colors {
  .bg-#{$name}-light {
    background-color: lighten($color, 45%);
  }
  .text-#{$name}-dark {
    color: darken($color, 15%);
  }
  .btn-#{$name}-light {
    --bs-btn-color: #{darken($color, 15%)};
    --bs-btn-bg: #{lighten($color, 45%)};
    --bs-btn-border-width: 0;
    --bs-btn-hover-color: #{darken($color, 15%)};
    --bs-btn-hover-bg: #{shade-color(lighten($color, 45%), 5%)};
    --bs-btn-active-color: #{darken($color, 15%)};
    --bs-btn-active-bg: #{shade-color(lighten($color, 45%), 10%)};
  }
}

.badge {
  padding: 0.5em 0.75em;
}

.navbar-toggler {
  .fa-bars { display: inherit; }
  .fa-xmark { display: none; }
  &[aria-expanded='true'] {
    .fa-bars { display: none; }
    .fa-xmark { display: inherit; }
  }
}

.nuxt-content {
  h1, h2, h3, h4, h5, h6 {
    margin: 1.5em 0 1em 0;
  }
  img {
    display: block;
    width: 100%;
    margin: 1rem 0;
  }
  blockquote {
    margin-left: 0.5rem;
    padding: 1rem;
    border-left: 2px solid $secondary;
    p:last-child {
      margin-bottom: 0;
    }
  }
}
